@charset "utf-8";
/* CSS Document */

#footer
.w3-third {
    height:150px;
}

@media only screen and (min-width: 600px) {
#SoMe-Tumblr1
.w3-col.s4 {
	height:550px;
}

#SoMe-Tumblr2
.w3-col.s4 {
	height:450px;
}
#SoMe-Snapchat1
.w3-col.s4 {
	height:800px;
}
	
#SoMe-Snapchat2
.w3-col.s6 {
	height:400px;
}

#SoMe-Instagram1
.w3-col.s4 {
	height:750px;
}
	
#SoMe-Instagram2
.w3-col.s4 {
	height:550px;
}
}
	